.princial{
    background-image: linear-gradient();
    min-height: 500px;
    padding 100px;
    color: aliceblue ;

    .primeiro-paragráfo{
        padding: 15px;
    }
        lista-cabecalho{
        color; white;
        font-size: 23px;
    }
    lista-item{
        display: inline-block 
    }
    
     .princial{
        background-image:-linear-gradient(#424242, white);
        min-height: 500px;
        padding: 100px;
        color:white
     }


 
    
     